#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}